* {
    margin: 0;
    padding: 0;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #393E46;
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    position: fixed;

    background-color: #EEEEEE;
}

header {
    width: 100vw;
    height: 10vh;

    margin-bottom: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #222831;
}

header h1 {
    font-weight: 700;

    color: #EEEEEE;
}

header h3 {
    margin-left: 3vw;

    color: #FFE162;
}

#main-section {
    width: 96vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;

    /*background-color: gray;*/
}

#start-button {
    width: 35vw;
    height: 5vh;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 5px;

    background-color: #47A992;
    color: #EEEEEE;
}

#welcome-prompt {
    margin: auto;
}

#main-section-header {
    width: 84vw;
    height: auto;

    margin: 3vh 0 1vh 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /*background-color: pink;*/
}

#step-description-button {
    width: 6vw;
    height: 3vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-weight: 800;

    border: none;
    border-radius: 5px;

    color: #222831;
    background-color: #FFD369;
}

#step-description {
    width: 84vw;

    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    /*background-color: pink;*/
}

#action-items-header {
    width: 84vw;
    height: auto;

    margin: 3vh 0 1vh 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /*background-color: pink;*/
}

#action-items-title {
    margin: 0;

    color: #222831;
}

#add-action-item-button {
    width: 6vw;
    height: 3vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-weight: 800;

    border: none;
    border-radius: 5px;

    color: #EEEEEE;
    background-color: #222831;
}

#action-items-container {
    width: 84vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    overflow-y: auto;

    /*background-color: purple;*/
}

.action-item {
    width: 78vw;
    height: 3vh;

    margin-bottom: 1vh;
    padding: 1vh 2vw;

    display: flex;
    flex: none;

    border: none;
    border-radius: 5px;

    /*color: #949292;*/
    background-color: #C0C0C0;
}

#results-indicator {
    margin: 3vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*background-color: pink;*/
}

#results-controls {
    width: 35vw;
    height: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /*background-color: pink;*/
}

#pass-result-button {
    width: 17.5vw;
    height: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 5px 0 0 5px;

    background-color: #47A992;
    color: #EEEEEE;
}

#fail-result-button {
    width: 17.5vw;
    height: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 0 5px 5px 0;

    background-color: #F05454;
    color: #EEEEEE;
}

#steps-toggle-controls {
    width: 68vw;
    height: 5vh;

    margin: 3vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /*background-color: pink;*/
}

.step-toggle-button {
    width: 15vw;
    height: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1.75rem;
    font-weight: bold;

    border: none;
    border-radius: 5px;

    background-color: #222831;
    color: #EEEEEE;
}

#progress-indicator-container {
    width: 24vw;
    height: 3vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /*background-color: green;*/
}

.progress-indicator {
    width: 8px;
    height: 8px;

    border-radius: 2rem;
    background-color: #222831;
}

.selected-progress-indicator {
    width: 10px;
    height: 10px;
}

/*.completed-progress-indicator {*/
/*    background-color: #222831;*/
/*}*/

.no-result-background {
    background-color: #EEEEEE;
}

.passed-result-background {
    background-color: #71C8B5;
}

.failed-result-background {
    background-color: #FF7C7C;
}

.passed-result-foreground {
    color: #47A992;
}

.failed-result-foreground {
    color: #F05454;
}