#progress-indicator-div {
    width: 24vw;
    height: 3vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.progress-indicator {
    width: 8px;
    height: 8px;

    margin-bottom: 3vh;

    border-radius: 2rem;
    background-color: #91959B;
}

.completed-progress-indicator {
    width: 10px;
    height: 10px;

    background-color: #222831;
}