#start-button {
    width: 35vw;
    height: 5vh;

    margin-bottom: 3vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 5px;

    background-color: #47A992;
    color: #EEEEEE;
}

#start-prompt {
}