#step-audit-div {
    width: 90vw;
    height: 70vh;

    margin-bottom: 3vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    /*background-color: pink;*/
}

#step-audit-div header {
    width: 90vw;
    height: 4vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #EEEEEE;
}

#step-audit-info-button {
    width: 8vw;
    height: 4vh;

    margin-left: 3vw;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #EEEEEE;

    border: none;
    border-radius: 5px;

    background-color: #222831;
}