#step-audit-div {
    width: 86vw;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

#step-audit-header {
    width: 86vw;
    height: 4vh;

    margin-top: 2vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#step-audit-info-button {
    width: 8vw;
    height: 4vh;

    margin-left: 3vw;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #EEEEEE;

    border: none;
    border-radius: 5px;

    background-color: #222831;
}

.null-step-audit-header {
    background-color: #EEEEEE;
}

.passed-step-audit-header {
    background-color: #71C8B5;
}

.failed-step-audit-header {
    background-color: #FF7C7C;
}

#area-step-result {
    margin-bottom: 1vh;
}

.passed-area-step-result {
    font-size: 1.5rem;
    font-weight: 600;

    color: #47A992;
}

.failed-area-step-result {
    font-size: 1.5rem;
    font-weight: 600;

    color: #F05454;
}